<div>
    <h2>List Course</h2>
  </div> 
  <br>
  


  <button class="btn btn-primary" (click)="onGet()">Get Courses</button>
  <br>
  <br>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list" >
         <td>{{item.id}}</td> 
         <td>{{item.title}}</td>
          <td> {{item.description}}</td>
          <td><button class="btn btn-warning" (click)="onEdit(item)">Edit</button></td>
          <td><button class="btn btn-danger" (click)="onRemove(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>